# ignore data directory
data/

# ignore phto directory
photo/

# ignore presentation directory
presentation/

# ignore reference folder
references/

# ignore crack diretory
crack/data/

# ignore crack model-save
crack/model_save/